<%- include('include/header.ejs')%>


<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/brand.png" width="100" alt="">
        </a>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <div class="error-details">
                        Sorry, Something went terribly wrong i apologize.  Please take the time to check my Resume!
                    </div>
                    <div class="error-actions">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<%- include('include/footer.ejs')%>
</html>
