
/*
tablet screens 
change the jumbotran background image for a phone changes
*/
@media screen and (min-width: 767.98px) and (max-width: 991.97px) {
    .navbar-light {
        background: #43236e;
    }
    .jumbotron {
        padding: 70px 30px 70px 30px;
        margin: 0px auto;
        background-image: url("/img/Bg-sm.svg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-color: white;
        height: 100vh;
    }   
    .intro-text {
        margin-top: 20px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 4em;
    }
    .sub-intro {
        font-family: 'Play', sans-serif;
        text-decoration: bold;
        font-size: 1.9em;
    }
    
        
}
