html {
  scroll-behavior: smooth;

}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.fa {
  margin: 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.fa:hover {
  text-decoration: none;
  opacity: 0.2;
}

.carousel-indicators li {
  background-color: #43236e;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


footer {
  background-color: #43236e;
}

footer .footer-copyright {
  background-color: #590ebb;
  font-size: 17px;
}

footer .btn {
  width: 60px;
  height: 60px;
  padding: 7px 10px;
  border-radius: 40px;
  font-size: 10px;
  text-align: center;
  box-shadow: 2px 2px 4px #000000;
}



footer .f-s {
  font-size: 25px;
}

footer .rotate:hover .fa {
  transform: rotate(360deg);
  transition: .3s ease-in-out;
}

/* time line  */
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background:  rgb(132, 132, 206);;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 3px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: '';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 5px solid   blue;

  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/*  */
h3 {
  font-size: 20px;
  /* font: 24px Roboto sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: white;
}

.fa-briefcase {
  color: #6b28d8;
}

.job {
  color: #6b28d8;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.service {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
}
.ref {
  padding: 30px 30px 70px 30px;
  background-color: #6b28d8;
  background-image: url("/img/MAP.svg");


}

