/*
laptop screens 
change the jumbotran background image for a phone changes
*/
@media screen and (min-width: 991.98px) and (max-width:1366px) {


    .navbar {
        min-height: 70px;
        transition: .5s all ease;

    }

    .navbar .nav-link {
        font-size: 1.2em;

    }

    .scrolled .navbar {
        min-height: 30px;
        transition: .5s all ease;
    }

    .scrolled .navbar {
        background: #43236e;
        transition: .5s all ease;
    }


    .scrolled .navbar .nav-link {
        color: white;
        transition: .2s all ease;
    }

    .jumbotron {
        padding: 70px 30px 70px 30px;
        margin: 0px auto;
        background-image: url("/img/Bg-md.svg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-color: white;
        height: 100vh;
    }

    .intro-text {
        color: white;
        font-family: 'Fredoka One', cursive;
        font-size: 4em;

    }

    .sub-intro {
        font-family: 'Play', sans-serif;
        text-decoration: bold;
        font-size: 1.9em;
    }

    .sec-header {
        color: rgb(31, 7, 51);
        font-family: 'Chivo', sans-serif;
        font-size: 3em;
    }
    .sub-header{
        color: rgb(133, 75, 180);

    }
}