<div id="education" class="row justify-content-center my-4 ">
    <!-- new container -->
    <div class="col-12 col-md-10 shadow-lg my-4 pb-3 rounde bg-white">
        <div class="container" F>
            <div class="row justify-content-center">
                <div class=" col-9 col-md-9 col-lg-9" >
                    <div class="container" style="background-color: beige;" > 
                        <div class="my-3 row justify-content-center">
                            <div class="col-5 mr-5" style="background-color: burlywood;">
                                <div class="container-fluid no-padding">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <img src="" alt="placeholder 960" class="img-responsive" />
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-5" style="background-color: violet; ">
                                <div class="row ">
                                    <h5 class="sub-header">CONTACT NOW</h5>
                                </div>
                                <div class="row my-2 ">
                                    <h1 class="sec-header" style="font-size: 2rem;">Do Some Awoesome Stuff with me  </h1>
                                </div>
                                <div class="row my-2 ">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quis laborum corrupti eum aspernatur reiciendis, commodi consequuntur doloribus tenetur cum.</p>
                                </div>
                                <div class="row my-2 ">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quis laborum corrupti eum aspernatur reiciendis, commodi consequuntur doloribus tenetur cum.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quis laborum corrupti eum aspernatur reiciendis, commodi consequuntur doloribus tenetur cum.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quis laborum corrupti eum aspernatur reiciendis, commodi consequuntur doloribus tenetur cum.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quis laborum corrupti eum aspernatur reiciendis, commodi consequuntur doloribus tenetur cum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>