<div id="binfo" class="row justify-content-center my-5">
    <!-- new container -->
    <div class="col-12 col-md-10 my-4 pb-3 rounde bg-white">
        <div class="row justify-content-center mb-4 p-2">
            <div class="container">
                <div class="row justify-content-center ">
                    <h5 class="sub-header">CONTACT NOW</h5>
                </div>
                <div class="row justify-content-center ">
                    <h1 class="sec-header">Basic Info </h1>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="my-2 d-flex justify-content-center align-items-center shadow-lg "
                            style="height: 50px; width:50px; background-color:#6b28d8;">
                            <span class="fa fa-user-o"></span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="blockquote-footer">FULL NAME</p>
                    </div>
                    <div class=" row justify-content-center">
                        <p> <b>MOUSAB ISSA ALHAMADA</b></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-center ">
                <div class="container">
                    <div class="row justify-content-center">
                        <a href="mailto:mialhamada@gmail.com ">

                            <div class="my-2 d-flex justify-content-center align-items-center shadow-lg "
                                style="height: 50px; width:50px; background-color:#6b28d8;">
                                <span class="fa fa-envelope-o"></span> 
                            </div>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <p class="blockquote-footer">EMAIL ADDRESS</p>
                    </div>
                    <div class=" row justify-content-center">
                        <p> <b>mialhamada@gmail.com</b></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-center">
              
                <div class="container">
                    <div class="row justify-content-center">
                        <a  href="tel:+966 56-871-4571">
                        <div class="my-2 d-flex justify-content-center align-items-center shadow-lg "
                            style="height: 50px; width:50px; background-color:#6b28d8;">
                            <span class="fa fa-phone"></span> 
                        </div>
                    </a>
                    </div>
                    <div class="row justify-content-center">
                        <p class="blockquote-footer">  PHONE NUMBER </p>
                    </div>
                    <div class=" row justify-content-center">
                        <p> <b>+966 56-871-4571</b></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-center">
                
                <div class="container">
                    <div class="row justify-content-center">
                        <a style="color: black;" href="https://www.linkedin.com/in/mousab-alhamada/">
                            <div class="my-2 d-flex justify-content-center align-items-center shadow-lg "
                                style="height: 50px; width:50px; background-color:#6b28d8;">
                                <span class="f-s fa fa-linkedin"></span> 
                            </div>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <p class="blockquote-footer">LINKEDIN ACCOUNT</p>
                    </div>
                    <div class=" row justify-content-center">
                        <p> <b>LinkedIn</b></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>