

    <!-- contact me -->
        <div id="contact" class="row justify-content-center mt-4 mb-0">
            <!-- new container -->
            <div class="col-12 col-md-12 shadow-lg my-4 pb-3 rounde " style="background-color: #04062f;">
                    <div class="container  my-5 " >
                        <div class="row  offset-1   ">
                            <div class="col-6 col-md-6 col-lg-6 my-3">
                                <div class="row ">
                                    <h5 class="sub-header ">SERVICES</h5>
                                </div>
                                <div class="row">
                                    <h1 class="sec-header text-white">WHAT I DO </h1>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center" >
                                <button class="ui large purple button align-self-center">Hire Me Now </button>
                            </div>
                        </div>
                        <div class="row offset-1">
                            <div class="col-12 col-md-4 col-lg-4 ">
                                <div class="container mx-3 my-3">
                                    <div class="row ">
                                        <div class="my-1 d-flex justify-content-center align-items-center shadow-lg ">
                                            <p style="color: rgb(113, 113, 192); font-size: 1.3rem;"> <b>i</b></p>
                                        </div>
                                    </div>
                                    <div class="row my-3    ">
                                        <p class="service text-white"> <b>BACK-END DEVELOPER</b></p>
                                    </div>
                               
                                    <div class=" row ">
                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 ">
                                <div class="container mx-3 my-3">
                                    <div class="row ">
                                        <div class="my-1 d-flex justify-content-center align-items-center shadow-lg ">
                                            <p style="color: palevioletred; font-size: 1.3rem;"> <b>ii</b></p>
                                        </div>
                                    </div>
                                    <div class="row my-3    ">
                                        <p class="service text-white"> <b>BACK-END DEVELOPER</b></p>
                                    </div>
                               
                                    <div class=" row ">
                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 ">
                                <div class="container mx-3 my-3">
                                    <div class="row ">
                                        <div class="my-1 d-flex justify-content-center align-items-center shadow-lg ">
                                            <p style="color:yellow; font-size: 1.3rem;"> <b>iii</b></p>
                                        </div>
                                    </div>
                                    <div class="row my-3    ">
                                        <p class="service text-white"> <b>BACK-END DEVELOPER</b></p>
                                    </div>
                               
                                    <div class=" row ">
                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 ">
                                <div class="container mx-3 my-3">
                                    <div class="row ">
                                        <div class="my-1 d-flex justify-content-center align-items-center shadow-lg ">
                                            <p style="color: rgb(49, 49, 204); font-size: 1.3rem;"> <b>iv</b></p>
                                        </div>
                                    </div>
                                    <div class="row my-3    ">
                                        <p class="service text-white"> <b>BACK-END DEVELOPER</b></p>
                                    </div>
                               
                                    <div class=" row ">
                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 ">
                                <div class="container mx-3 my-3">
                                    <div class="row ">
                                        <div class="my-1 d-flex justify-content-center align-items-center shadow-lg ">
                                            <p style="color: orangered  ; font-size: 1.3rem;"> <b>v</b></p>
                                        </div>
                                    </div>
                                    <div class="row my-3    ">
                                        <p class="service text-white"> <b>BACK-END DEVELOPER</b></p>
                                    </div>
                               
                                    <div class=" row ">
                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 ">
                                <div class="container mx-3 my-3">
                                    <div class="row ">
                                        <div class="my-1 d-flex justify-content-center align-items-center shadow-lg ">
                                            <p style="color:greenyellow; font-size: 1.3rem;"> <b>vi</b></p>
                                        </div>
                                    </div>
                                    <div class="row my-3    ">
                                        <p class="service text-white"> <b>BACK-END DEVELOPER</b></p>
                                    </div>
                               
                                    <div class=" row ">
                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
                                    </div>
                                </div>
                            </div>
                        
                           
                        </div>
                       
                    </div>
            
      
                

            </div>


        </div>

