

    <!-- contact me -->
    <div id="Contact" class="container-fluid my-4 ">
        <div class="row justify-content-center">
            <!-- new container -->
            <div class="col-12 col-md-10 shadow-lg p-3 bg-white my-4 rounde">
                <div class="row d-flex justify-content-center ">
                    <h2> Get in Touch </h2>
                </div>
                <div class="row offset-1">
                    <h3> i am currently open for job offers </h3>
                    <h3> i am currently open for job offers </h3>
                    <h3> i am currently open for job offers </h3>
                </div>
                <div class="row offset-1">
                    <h3> i am currently open for job offers </h3>
                    <h3> i am currently open for job offers </h3>
                    <h3> i am currently open for job offers </h3>
                </div>
                <div class="row offset-1">
                    <h3> i am currently open for job offers </h3>
                    <h3> i am currently open for job offers </h3>
                    <h3> i am currently open for job offers </h3>
                </div>

            </div>


        </div>
    </div>

