
    <div id="education" class="container-fluid my-4 ">
        <div class="row justify-content-center">
            <!-- new container -->
            <div class="col-12 col-md-10 shadow-lg p-3 bg-white my-4 rounde">
                <div class="row justify-content-center my-3">
                    <h1 class="">Education   </h1>
                </div>
                <div class="row justify-content-center">
                    <div class="card">
                        <h3 class="card-header bg-primary text-white">Facts At a Glance</h3>
                        <div class="card-block">
                            <dl class="row">
                                <dt class="col-6">Major</dt>
                                <dd class="col-6">Bachelor's Degree: Electronics-Computer Information Engineering</dd>
                                <dt class="col-6">University</dt>
                                <dd class="col-6">International Islamic University Malaysia</dd>
                                <dt class="col-6">Year</dt>
                                <dd class="col-6">2016 - 2020</dd>
                            </dl>
                        </div>
                    </div>
                </div>
               
            </div>


        </div>
    </div>
