
    <div id="experince" class="row justify-content-center my-4" >
        <!-- new container -->
        <div class="col-12 col-md-10 shadow-lg my-4 pb-3 rounde bg-white">
            <div class="row mb-4 p-2" style="background-color: #43236e;">
                <h3>WORK EXPERINCE</h3> 
            </div>
            <ul class="timeline">
				<li>
					<h2 style="margin-bottom: 0; font-size: 18px;">Mobile application developer </h2>
					<h5 style="margin: 0;">CUTe IIUM</h5>
					<a href="#" class="float-right">2019-06 - 2019-09</a>
					<ul >
						<li class="my-2" style="  list-style-type: square;">Worked closely with CUTe IIUM to develop a POC for Petronas Mesra card app.</li>
						<li class="my-2" style="  list-style-type: square;">Developed a modern front-end for a mobile applica􀆟on using React-native.</li>
						<li class="my-2" style="  list-style-type: square;">Developed a targeted adver􀆟sing mechanism that used geolocation, age and
							Gender, to personalize pop-up ads..</li>
					</ul>
				</li>
				<li>
					<h2 style="margin-bottom: 0; font-size: 18px;">Back-end developer intren </h2>
					<h5 style="margin: 0;">FELDA MOBILE sdn bhd</h5>
					<a href="#" class="float-right">2018-09 - 2018-12</a>
					<ul >
						<li class="my-2" style="  list-style-type: square;">Was a lead programmer in the process of designing and developing an ERP
							system for Felda mobile as part of an industrial link program.</li>
						<li style="  list-style-type: square;"	>Built a modern mobile applica􀆟on using Ionic 3 framework and integrated it
							with a MySQL database as well as a firebase database for prototyping.</li>
					</ul>
				</li>
			</ul>
            </div>
        </div>



