<footer class="page-footer font-small teal pt-4">
    <!-- Footer Text -->
    <div class="container-fluid text-center">
        <!-- Grid row -->
        <div class="row justify-content-center inline">

            <a href="#" class=" rotate btn  m-3 text-center btn-dark " >
                <span class="f-s fa fa-linkedin">
                </span>
            </a>
            <a href="#" class="rotate btn text-center m-3 btn-dark  " >
                <span class="f-s fa fa-facebook">
                </span>
            </a>
            <a href="#" class="rotate btn text-center m-3 btn-dark  " >
                <span class="f-s fa fa-instagram">
                </span>
            </a>
            <a href="#" class=" rotate btn btn-primary m-3 btn-dark  text-center" >
                <span class="f-s fa fa-twitter">    
                </span>
            </a>
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 font-small text-white ">© 2020 Copyright: <a href="#"> mosaub </a>
    </div>
    <!-- Copyright -->
</footer>