<div id="experince" class="row justify-content-center my-5">
	<!-- new container -->
	<div class="col-12 col-md-10  my-4 pb-3 rounde bg-white">
		<div class="row justify-content-center mb-4 p-2">
			<div class="container">
				<div class="row justify-content-center ">
					<h5 class="sub-header">	WORK EXPERINCE</h5>
				</div>
				<div class="row justify-content-center ">
					<h1 class="sec-header">My Experince </h1>
				</div>
			</div>
		</div>
		<div class="row justify-content-center "  >
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-9 col-lg-9" >
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-12 col-md-5 col-lg-5 mx-3 shadow-lg" >
									<div class="container mx-3 my-3">
										<div class="row ">
											<div class="my-3 d-flex justify-content-center align-items-center shadow-lg "
												style="height: 50px; width:50px; background-color:white;">
												<span class="fa fa-briefcase"></span>
											</div>
										</div>
										<div class="row">
											<p class="job"> <b>SOFTWARE ENGINEER</b></p>
										</div>
										<div class=" row my-2 ">
											<p class="blockquote-footer">May 2019-Sep 2019</p>
										</div>
										<div class=" row ">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-5 col-lg-5 shadow-lg mx-3 " >
									<div class="container mx-3 my-3">
										<div class="row ">
											<div class="my-3 d-flex justify-content-center align-items-center shadow-lg "
												style="height: 50px; width:50px; background-color:white;">
												<span class="fa fa-briefcase"></span>
											</div>
										</div>
										<div class="row ">
											<p class="job"> <b>BACK-END DEVELOPER</b></p>
										</div>
										<div class=" row my-2">
											<p class="blockquote-footer">Aug 2018-Nov 2018</p>
										</div>
										<div class=" row ">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque esse mollitia sed a quam error ducimus debitis minima sint odit blanditiis exercitationem dolorum enim, nobis corrupti laudantium et animi.</p>
										</div>
									</div>
									
								</div>
							</div>
							
							
							
						</div>
					</div>
				</div>
			</div>
		
			

		</div>
	</div>
</div>