<%- include('../include/header.ejs')%>

<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/img/brand.png" width="100" alt="">
    </a>
</nav>




<div class="container">
    <% if(messages){%>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa fa-bug" aria-hidden="true"></i>
            <strong class="mr-auto"> error</strong>
            <small class="text-muted">error </small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <%=messages%>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>

    <%}%>

    <div class="row justify-content-center">
        <form action="/new-password" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" name="password"
                    placeholder="Enter Password">
                <small id="emailHelp" class="form-text text-muted">Enter the Password</small>
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="token" value="<%=token%>">

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Reset</button>
                <img src="img/brand.png" width="100" alt="">

            </div>
        </form>
    </div>
</div>
