

    <!-- contact me -->
    <div id="skills" class="row justify-content-center mt-4 mb-0">
        <!-- new container -->
        <div class="col-12 col-md-12 shadow-lg my-4 pb-3 rounde " style="background-color: #04062f;">
                <div class="container my-5 " > 
                    <div class="row offset-1 " >
                        <div class="col-6 col-md-6 col-lg-6 my-3">
                            <div class="row">
                                <h5 class="sub-header" style="color: rgb(88, 230, 170);">Expert</h5>
                            </div>
                            <div class="row  " >
                                <h1 class="sec-header text-white  my-3">My Skills</h1>
                            </div>
                            <div class="row" style="background-color: indianred;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-lg-6 col-md-6">
                                            hi
                                        </div>
                                        <div class="col col-lg-6 col-md-6">
                                            hi
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 my-3">
                            <div class="row  ">
                                <h5 class="sub-header " style="color: rgb(88, 230, 170);">Qualification</h5>
                            </div>
                            <div class="row  ">
                                <h1 class="sec-header text-white my-3">My Education</h1>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <ul class="timeline">
                                            <li>
                                                <h2 style="margin-bottom: 0; font-size: 18px;">Mobile application developer </h2>
                                                <h5 style="margin: 0;">CUTe IIUM</h5>
                                                <a href="#" class="float-right">2019-06 - 2019-09</a>
                                                <ul >
                                                    <li class="my-2" style="  list-style-type: square;">Worked closely with CUTe IIUM to develop a POC for Petronas Mesra card app.</li>
                                                    <li class="my-2" style="  list-style-type: square;">Developed a modern front-end for a mobile applica􀆟on using React-native.</li>
                                                    <li class="my-2" style="  list-style-type: square;">Developed a targeted adver􀆟sing mechanism that used geolocation, age and
                                                        Gender, to personalize pop-up ads..</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <h2 style="margin-bottom: 0; font-size: 18px;">Back-end developer intren </h2>
                                                <h5 style="margin: 0;">FELDA MOBILE sdn bhd</h5>
                                                <a href="#" class="float-right">2018-09 - 2018-12</a>
                                                <ul >
                                                    <li class="my-2" style="  list-style-type: square;">Was a lead programmer in the process of designing and developing an ERP
                                                        system for Felda mobile as part of an industrial link program.</li>
                                                    <li style="  list-style-type: square;"	>Built a modern mobile applica􀆟on using Ionic 3 framework and integrated it
                                                        with a MySQL database as well as a firebase database for prototyping.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row offset-1">
                        
                        
                       
                    </div>
                   
                </div>
        
  
            

        </div>


    </div>


