<div id="skills" class="container-fluid my-4 ">
    <div class="row justify-content-center">
        <!-- new container -->
        <div class="col-12 col-md-10 shadow-lg p-3 bg-white my-4 rounde">
            <div class="row justify-content-center my-3">
                <h1> Profissional skills</h1>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 d-flex justify-content-center my-3 ">
                    <div id="sellPerCirc" class="perCirc">
                        <div class="perCircInner">
                            <span class="perCircStat  prec" id="prec">0%</span>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center my-3">
                    <div id="sellPerCirc2" class="perCirc">
                        <div class="perCircInner">
                            <div class="perCircStat prec">0%</div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center my-3">
                    <div id="sellPerCirc3" class="perCirc">
                        <div class="perCircInner">
                            <div class="perCircStat prec">0%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-3 d-flex justify-content-center ">
                <h5>Relevant skills</h5>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="#" class="btn btn-primary btn-lg disabled ml-2" role="button" aria-disabled="true">SASS</a>
                <a href="#" class="btn btn-primary btn-lg disabled ml-2" role="button" aria-disabled="true">HTML</a>
                <a href="#" class="btn btn-primary btn-lg disabled ml-2" role="button" aria-disabled="true">CSS</a>
                <a href="#" class="btn btn-primary btn-lg disabled ml-2" role="button" aria-disabled="true">JS</a>
                <a href="#" class="btn btn-primary btn-lg disabled ml-2" role="button" aria-disabled="true">GIT</a>

            </div>
      
        </div>


    </div>
</div>