<!-- contact me -->
<div id="skills" class="row justify-content-center mt-4 mb-0">
    <!-- new container -->
    <div class="col-12 col-md-12 shadow-lg my-4 pb-3 rounde " style="background-color: #04062f;">
        <div class="container my-5 ">
            <div class="row justify-content-center mb-4 p-2">
                <div class="container">
                    <div class="row justify-content-center ">
                        <h5 class="sub-header" style="color: rgb(88, 230, 170);"> EXPERT</h5>
                    </div>
                    <div class="row justify-content-center ">
                        <h1 class="sec-header text-white">My Skills </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 col-lg-3 ">
                    <div class="progress blue">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"><b>React</b></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 ">
                    <div class="progress yellow">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"><b>NodeJs</b></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 ">
                    <div class="progress pink">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"><b>Databases</b></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 ">
                    <div class="progress green">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"><b>UI/UX</b></div>
                    </div>
                </div>
               
            </div>
            <div class="row my-5 justify-content-center">
                    <button class="btn btn-primary disbaled mx-2 my-2">html</button>
                    <button class="btn btn-primary disbaled mx-2 my-2">javascript</button>
                    <button class="btn btn-primary disbaled mx-2 my-2">Css</button>
                    <button class="btn btn-primary disbaled mx-2 my-2">react-native</button>
                    <button class="btn btn-primary disbaled mx-2 my-2">SCSS</button>
                    <button class="btn btn-primary disbaled mx-2 my-2">mongoDb</button> 
                    <button class="btn btn-primary disbaled mx-2 my-2">Mysql</button> 
                    <button class="btn btn-primary disbaled mx-2 my-2">RestApi</button> 
                    <button class="btn btn-primary disbaled mx-2 my-2">Graphql</button> 
                    <button class="btn btn-primary disbaled mx-2 my-2">tableau</button> 
                    <button class="btn btn-primary disbaled mx-2 my-2 ">Adobe illustrator</button> 
                    <button class="btn btn-primary disbaled mx-2 my-2 ">Adobe XD</button> 
            </div>
            <div class="row my-5 justify-content-center">

            </div>



        </div>

    </div>


</div>