
    <!-- recommendation -->
    <div id="recommendation" class="container-fluid my-4 ">
        <div class="row justify-content-center">
            <!-- new container -->
            <div class="col-12 col-md-10 shadow-lg p-3 bg-white my-4 rounde" backgroun>
                <div class="row d-flex justify-content-center my-4">
                    <h1>REFERENCES</h1>
                </div>

                <div class="row">
                    <!-- carousel -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="media">
                                    <img src="/img/DSC_0009 (3).jpg" class="align-self-end mx-3 "
                                        style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Bottom-aligned media</h5>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                            congue felis in faucibus.</p>
                                        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                                            vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="media">
                                    <img src="/img/DSC_0009 (3).jpg" class="align-self-end mx-3"
                                        style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Bottom-aligned media</h5>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                            congue felis in faucibus.</p>
                                        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                                            vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="media">
                                    <img src="/img/DSC_0009 (3).jpg" class="align-self-end mx-3"
                                        style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Bottom-aligned media</h5>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                            congue felis in faucibus.</p>
                                        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                                            vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
