<!-- recommendation -->
    <div  id="recommendation" class="row  justify-content-center my-4">
        <!-- new container -->
        <div class="ref col-12 my-4 pb-3 rounde "  >
            <div class="row justify-content-center mb-4 p-2">
                <div class="container">
                    <div class="row justify-content-center ">
                        <h5 class="sub-header">recommendation</h5>
                    </div>
                    <div class="row justify-content-center ">
                        <h1 class="sec-header">TESTIMONIALS </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- carousel -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="media">
                                <img src="/img/Omar Farhan.jpg" class="align-self-end mx-3 "
                                    style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                <div class="media-body">
                                    <h3 class="m-0">Omar Farhan </h3>
                                    <h6 class="my-2" style="font-weight: bald;">Project Manager at Pioneers Consulting </h6>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                        congue felis in faucibus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="media">
                                <img src="/img/Oussama.jpg" class="align-self-end mx-3"
                                    style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                <div class="media-body">
                                    <h3 class="m-0">Oussama Alansari</h3>
                                    <h6 class="my-2" style="font-weight: bald;">Project Manager at Pioneers Consulting </h6>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                        congue felis in faucibus.</p>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="media">
                                <img src="/img/othman.jpg" class="align-self-end mx-3"
                                    style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                <div class="media-body">
                                    <h3 class="m-0">Oussama Alansari</h3>
                                    <h6 class="my-2" style="font-weight: bald;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ab animi illum. Quibusdam, numquam necessitatibus. Provident ad iste corporis rem maxime? Itaque voluptate quibusdam ipsa facere odit eveniet, dolorem minus? </h6>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                        congue felis in faucibus.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="media">
                                <img src="/img/othman.jpg" class="align-self-end mx-3"
                                    style="height: 200px; width:200px" src="..." alt="Generic placeholder image">
                                <div class="media-body">
                                    <h3 class="m-0">KATHIR TAHSIN</h3>
                                    <h6 class="my-2" style="font-weight: bald;">SOFTWARE DEVELOPER </h6>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                        congue felis in faucibus.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </div>
